.container.HomeContact {
  background-image: url("../assets/Background-Contact-Form.jpg");
  width: 100%;
  height: 1026px;

  .HomeContact_header {
    font-size: 2.375rem;
    line-height: 3.250rem;
    letter-spacing: -0.76px;
    color: var(--darkgrey);
    display: inline-block;
    margin: 200px 236px 25px 1306px;
  }

  .HomeContact_dec {
    background-image: url("../assets/Decoration.svg");
    width: 253px;
    height: 33px;
    margin: 0 288px 70px 1359px;

  }

  .contactForm {
    margin: 70px 142px 270px 1230px;
    display: flex;
    flex-direction: column;

    .name_email {
      display: flex;
      margin-bottom: 40px;

      .labelName {
        height: 62px;
        display: block;
        font-weight: 600;
        color: var(--darkgrey);
        line-height: 1.375rem;
        margin-right: 16px;

        .nameText {
          width: 256px;
          font-size: 1.125rem;
          color: var(--darkgrey);
          padding: 12px 0 4px 0;
          border: 1px none #707070;
          border-bottom-style: solid;
          background-color: transparent;

          &::placeholder {
            color: #3C3C3C26;
          }
        }
      }

      .labelEmail {
        height: 62px;
        display: block;
        font-weight: 600;
        color: var(--darkgrey);
        line-height: 1.375rem;

        .emailText {
          width: 256px;
          font-size: 1.125rem;
          color: var(--darkgrey);
          padding: 12px 0 4px 0;
          border: 1px none #707070;
          border-bottom-style: solid;
          background-color: transparent;

          &::placeholder {
            color: #3C3C3C26;
          }
        }
      }
    }

    .labelMessage {
      font-weight: 600;
      color: var(--darkgrey);
      line-height: 1.375rem;

      .messageText {
        font-family: var(--Font-base);
        display: block;
        width: 528px;
        height: 97px;
        font-size: 1.125rem;
        color: var(--darkgrey);
        padding: 12px 0 4px 0;
        border: 1px none #707070;
        border-bottom-style: solid;
        background-color: transparent;
        overflow: hidden;
        resize: none;

        &::placeholder {
          color: #3C3C3C26;
        }
      }
    }

    .btnMessage {
      font-family: var(--Font-base);
      font-size: 1.125rem;
      color: #000000;
      padding: 13px 52px;
      border: 0.75px solid var(--darkgrey);
      margin-top: 40px;
      background-color: transparent;
      width: 150px;
      align-self: flex-end;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;

    .left_empty {
      flex-basis: 25%;
    }

    .copyright {
      font-size: 1.125rem;
      color: var(--darkgrey);
      align-self: center;
      text-align: center;
      flex-basis: 50%;

    }

    .fb_insta {
      display: flex;
      flex-basis: 25%;
      align-self: end;

      .fb {
        background-image: url("../assets/Facebook.svg");
        width: 30px;
        height: 30px;

      }

      .insta {
        background-image: url("../assets/Instagram.svg");
        width: 30px;
        height: 30px;
        margin: 0 142px 0 20px;

      }
    }
  }
}