.container.logout {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logoutHeader {
    font-size: 2.5rem;
    line-height: 3.438rem;
    letter-spacing: 0.8px;
    color: var(--darkgrey);
    margin-top: 246px;
    text-align: center;
  }

  .logoutDec {
    background-image: url("../assets/Decoration.svg");
    width: 253px;
    height: 33px;
    margin-top: 25px;
  }

  .home {

    .startBtn {
      font-family: var(--Font-base);
      font-size: 1.5rem;
      color: #000000;
      font-weight: 300;
      padding: 13px 17px 13px 18px;
      border: 0.75px solid var(--darkgrey);
      margin-top: 35px;
      outline: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }
}